footer.footer
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    padding-right: 1rem;

    font-size: 1em;

    box-shadow: var(--shadow);
}

@media (max-width: 768px) {
    footer.footer
    {
        justify-content: center;
        padding-right: 0;
        font-size: 1.25em;
    }
}

@media (max-width: 576px) {
    footer.footer
    {
        margin-top: 10px;
    }
}